
	<TABLE BORDER="0" width="100%" cellpadding="0" align="center" >
		
		<TR>
			<Td>
				<H2>CONTACT</H2>
				
				<STRONG>Address:</STRONG><BR>
					xys GTB  Nagar <BR>
				<STRONG>Contact No:</STRONG><BR>
					9999999999<BR>
				<STRONG>Email:</STRONG><BR>
					info@gmail.com
				
				
				
			</TD>			
		</TR>
	</TABLE>
