
	<TABLE BORDER="0" width="100%" cellpadding="0" align="center" >
		
		<TR>
			<Td>
				<H2>SIGN-UP CONFIRMATION</H2>
				
				Your Account Created Successfully.
				
				
			</TD>			
		</TR>
	</TABLE>
